<CONFIG>
<CONFIG-ITEM>
<SQL_DRIVER>driver=SQL Server Native Client 11.0</SQL_DRIVER>
<SQL_SERVER>MYDESKTOP\SQLEXPRESS</SQL_SERVER>
<BASE_URL>https://qualysapi.qg1.apps.qualys.com.au</BASE_URL>
<USERNAME>myusernme</USERNAME>
<PASSWORD>password123</PASSWORD>
<DATABASE>TestDB</DATABASE>
<USE_SQL>False</USE_SQL>
<DAYS_OF_STATS>30</DAYS_OF_STATS>
</CONFIG-ITEM>
</CONFIG>